.sliderContainer {
  position: relative;
  width: 100%;
}

.sliderWrapper {
  display: flex;
  padding-left: 125px;
  padding-right: 125px;
  gap: 15px;
  width: 100%;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;

  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.scrollButton {
  position: absolute;
  top: 26px;

  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  border: none;
  width: 110px;
  height: 315px;
  cursor: pointer;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: center;
}

.scrollButton:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.left {
  left: 0;
}

.right {
  right: 0;
}
