.button {
  padding: 12px 32px;
  border: none;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  background-color: rgba(255, 255, 255, 0.1);

  &.main {
    background-color: #c1272d;
  }
  line-height: 1;
}

.btnLabel {
  font-weight: 600;
  font-size: 18px;
  line-height: 1;
  color: #fff;
  display: flex;

  align-items: center;
}
