.searchInput {
  width: 100%;
  max-width: 400px;
  padding: 8px 15px;
  border-radius: 3px;
  color: rgb(0, 0, 68);
}
.searchForm {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
}
