.wrapper {
  padding: 54px 0px;
}

.movieGrid {
  display: grid;
  // grid-template-columns: repeat(auto-fill, minmax(315px, 1fr));
  // grid-template-columns: repeat(5, 1fr);
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  gap: 30px;
  justify-content: center;
}

.noData {
  color: #dedede;
}
